# Ignorar el archivo .env
.env

# Ignorar la carpeta .git (aunque normalmente no es necesario ya que Git ignora esta carpeta por defecto)
.git

# Ignorar carpetas de caché comunes
__pycache__/
*.py[cod]
*.swp
.cache/
node_modules/
dist/
build/
.DS_Store
*.log
*.bak
*.tmp

# Excluir archivos compilados de Python
*.pyc
__pycache__/

# Excluir archivos de configuración del entorno virtual
env/
venv/

# Excluir archivos de configuración de IDEs
.vscode/
.idea/

# Excluir archivos de sistema
.DS_Store
Thumbs.db

# Excluir archivos de configuración de otros editores
*.sublime-project
*.sublime-workspace

# Excluir archivos de configuración de otros entornos
*.envrc
.venv/