<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appapp</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">

    <style>
        .parallax {
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }
        .overlay {
            background: rgba(9, 98, 110, 50); /* Overlay oscuro */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .content {
            position: relative;
            z-index: 2;
        }
        .fixed-section {
            position: relative;
            z-index: 2;
        }
        .back-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #1a202c;
            color: white;
            padding: 10px 15px;
            border-radius: 50%;
            cursor: pointer;
            display: none;
            z-index: 1000;
            transition: opacity 0.3s;
        }
        
        .back-to-top:hover {
            background-color: #2d3748;
        }
        .custom-green {
            background-color: rgba(9, 98, 110, 1);
        }
        .custom-green:hover {
            background-color: rgba(9, 98, 110, 0.8);
        }
        .custom-greenbg {
            background-color: rgb(22, 81, 88);
        }

        .bg-pastel-yellow {
            background-color: #f7d7c5; /* Light pastel yellow */
        }
        .bg-pastel-darkblue {
            background-color: #17183b; /* Light pastel yellow */
        }
        .bg-pastel-blue {
            background-color: hsl(226, 67%, 55%); /* Light pastel blue */
        }
        .bg-pastel-green {
            background-color: #98FB98; /* Light pastel green */
        }
    
        .bg-pastel-pink {
            background-color: #f5e2f2; /* Light pastel pink */
        }
        
    </style>
</head>
<body class="bg-gray-100">
    <!-- Barra de navegación -->
    <nav class="bg-gray-800 p-4 w-full z-10">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <a href="">
                    <img src="static/img/logo_mapache.gif" alt="Logo" class="h-8 w-auto">
                </a>
                <span class="text-gray-400">/</span>
                <a href="#about" class="text-white hover:text-gray-300">Sobre la App</a>
                <span class="text-gray-400">/</span>
                <a href="#noticias" class="text-white hover:text-gray-300">Noticias</a>
                <span class="text-gray-400">/</span>
                <a href="#testimonials" class="text-white hover:text-gray-300">Testimonios</a>
                <span class="text-gray-400">/</span>
                <a href="#Contacto" class="text-white hover:text-gray-300">Contacto</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="flex space-x-4">
                    <li class="nav-item">
                        <a class="nav-link text-gray-300 hover:text-white" href="/admin/page">Administracion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-gray-300 hover:text-white" href="/news">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-gray-300 hover:text-white" href="/loginpage">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="Generadora de apps" class="h-screen flex flex-col items-center justify-center bg-pastel-pink text-gray-800 relative">
        <img src="static/img/logo.jpg" alt="Generadora de apps" class="absolute inset-0 w-full h-full object-cover opacity-10 pointer-events-none">
        <h1 class="text-4xl font-bold mb-4 z-10">Generadora de apps</h1>
        <p class="text-lg mb-6 text-center px-4 z-10">es una app para hacer apps, en python!</p>
        <div class="flex flex-wrap justify-center z-10">
            <button class="bg-blue-800 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300 mx-2 mb-2" onclick="location.href='#about'">Saber más</button>
            <button class="bg-green-800 text-white py-2 px-4 rounded-lg shadow-md hover:bg-green-600 transition duration-300 mx-2 mb-2" onclick="location.href='#Contacto'">Contactar</button>
        </div>
    </section>
    
    <section id="about" class="min-h-screen flex items-center justify-center bg-gray-800 text-white fixed-section">
        <div class="container mx-auto px-4 flex flex-col md:flex-row items-center">
            <!-- Columna izquierda: Texto -->
            <div class="md:w-1/2 text-left">
                <h2 class="text-3xl font-bold mb-12">Sobre la Aplicación</h2>
                <p class="mt-4">
                    Sobre la Aplicación
                    Una herramienta avanzada para desarrolladores y administradores de bases de datos, diseñada para simplificar y automatizar la creación de APIs, la migración de datos y el análisis con inteligencia artificial.
                    Backend Robusto: Construida con FastAPI, soporta SQL Server y PostgreSQL (próximamente MySQL). Totalmente dockerizada para despliegue rápido y escalable.
                    Automatización de Componentes: Genera rutas, modelos, esquemas, pruebas, y archivos HTML con JavaScript para una gestión eficiente.
                    Migración de Datos: Importa datos desde Excel (.xls y .xlsx) hacia bases de datos SQL con validaciones que garantizan su calidad.
                    Análisis de Datos con IA: Integra modelos de inteligencia artificial para el análisis avanzado de datos, ofreciendo insights clave para la toma de decisiones.
                    Interfaz Intuitiva: Un entorno web basado en Jinja2, Bootstrap y SQLAlchemy para configuraciones rápidas y experiencia responsiva, sin necesidad de modificar código.
                    Esta solución innovadora combina automatización, análisis avanzado y un entorno intuitivo, permitiendo a los equipos centrarse en crear valor y mejorar su productividad.</p>
            </div>
            <!-- Columna derecha: Imagen -->
            <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
                <img src="static/img/diagrama_app.jpg" alt="Diagrama de Flujo" class="max-w-full h-auto">
            </div>
        </div>
    </section>

    <section id="noticias" class="min-h-screen flex items-center justify-center parallax bg-cover bg-center relative fixed-section" style="background-image: url('https://source.unsplash.com/random/1600x900?news');">
        <div class="overlay"></div>
        <div class="content text-center text-white relative z-10 p-8">
            <h2 class="text-4xl font-bold mb-4 relative inline-block">
                Noticias
                <span class="absolute bottom-0 left-0 h-1 w-16 bg-gradient-to-r from-blue-500 to-purple-500"></span>
            </h2>
            <p class="text-lg text-gray-300 mb-12">Mantente informado con nuestras últimas actualizaciones.</p>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {% for post in blog_posts %}
                    <div class="news-card bg-white bg-opacity-90 p-6 rounded-lg shadow-lg text-black transition transform hover:scale-105">
                        <h3 class="text-2xl font-semibold mb-2">{{ post.title }}</h3>
                        <p class="mt-2 text-justify">{{ post.content | truncate(150) }}...</p>
                        <p class="mt-2 text-sm text-gray-600">
                            <i class="fas fa-calendar-alt text-blue-500"></i> Publicado el {{ post.created_at.strftime('%d/%m/%Y') }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-12">
                <button  onclick="location.href='/news'" class="bg-gradient-to-r from-blue-500 to-purple-500 text-white py-3 px-6 rounded-lg shadow-lg hover:opacity-90 transition">
                    Ver más noticias
                </button>
            </div>
        </div>
    </section>
    

    <section id="testimonials" class="min-h-screen flex items-center justify-center bg-pastel-darkblue text-white fixed-section">
        <div class="text-center">
            <h2 class="text-3xl font-bold">Testimonios</h2>
            <p class="mt-4">Lo que nuestros clientes dicen sobre nosotros.</p>
        </div>
    </section><!-- Formulario de contacto -->
       <section id="Contacto" class="min-h-screen flex items-center justify-center parallax bg-cover bg-center relative fixed-section" style="background-image: url('https://source.unsplash.com/random/1600x900?contact');">
        <div class="overlay"></div>
        <div class="content text-center text-white relative z-10 p-8">
            <h2 class="text-4xl font-bold mb-4">Contáctanos</h2>
            <p class="text-lg text-gray-300 mb-8">Envíanos tus consultas o comentarios. Estaremos encantados de atenderte.</p>
            <form id="contact-form" class="max-w-2xl mx-auto bg-white bg-opacity-90 p-6 rounded-lg shadow-lg text-black">
                <div class="mb-4">
                    <label for="nombre" class="block text-gray-700 font-semibold">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-semibold">Correo electrónico:</label>
                    <input type="email" id="email" name="email" required class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div class="mb-4">
                    <label for="mensaje" class="block text-gray-700 font-semibold">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="5" required class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"></textarea>
                </div>
                <div>
                    <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded-md shadow hover:bg-blue-600 transition">Enviar mensaje</button>
                </div>
            </form>
        </div>
    </section>
        <!-- Botón de flecha para ir arriba -->
        <div id="back-to-top" class="back-to-top">
            &#8679;
        </div>

    {% include 'footer.html' %}
<!-- Scripts -->
<script>
    document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir comportamiento predeterminado

        const nombre = document.getElementById('nombre').value;
        const emailUsuario = document.getElementById('email').value;
        const mensajeUsuario = document.getElementById('mensaje').value;

        // Mensaje de agradecimiento al usuario
        const asuntoUsuario = "Gracias por contactarte con nosotros";
        const mensajeAUsuario = `Hola ${nombre},

Gracias por contactarte con nosotros. Enseguida te responderemos.

Saludos cordiales,
El equipo`;

        // Enviar correo al usuario
        enviarCorreo(emailUsuario, asuntoUsuario, mensajeAUsuario)
        .then(response => {
            if (!response.ok) {
                throw new Error(response.mensaje);
            }
            return response.json();
        })
        .then(() => {
            // Enviar correo al propietario con el mensaje del usuario
            const emailPropietario = "fjuansimon@gmail.com"; // Pasa esta variable desde tu backend
            const asuntoPropietario = `Nuevo mensaje de ${nombre}`;
            const mensajeAPropietario = `Has recibido un nuevo mensaje de ${nombre} (${emailUsuario}):${mensajeUsuario}`;

            return enviarCorreo(emailPropietario, asuntoPropietario, mensajeAPropietario);
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error en la solicitud al enviar correo al propietario: ' + response);
            }
            return response.json();
        })
        .then(() => {
            alert('Gracias por contactarte con nosotros, enseguida te responderemos.');
            document.getElementById('contact-form').reset();
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Ocurrió un error al enviar el mensaje: ' + error.message);
        });
    });

    function enviarCorreo(destinatario, asunto, mensaje) {
        return fetch('/envios/enviar_correo', { // Actualizado con el prefijo /envios
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                destinatario: destinatario,
                asunto: asunto,
                mensaje: mensaje
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error en la solicitud: ' + response.statusText);
            }
            return response.json();
        });
    }
</script>



<script>
    // Mostrar el botón de flecha cuando el usuario se desplaza hacia abajo
    window.addEventListener('scroll', function() {
        const backToTopButton = document.getElementById('back-to-top');
        if (window.scrollY > 300) {
            backToTopButton.style.display = 'block';
        } else {
            backToTopButton.style.display = 'none';
        }
    });

    // Desplazar hacia arriba cuando se hace clic en el botón de flecha
    document.getElementById('back-to-top').addEventListener('click', function() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
</script>
</body>
</html>