<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body class="bg-gray-100 min-h-screen">
    <!-- Barra de navegación -->
      <nav class="bg-gray-800 p-4 relative z-30">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <a href="">
                    <img src="../static/img/logo_mapache.gif" alt="Logo" class="h-8 w-auto">
                </a>
                <a href="/index" class="text-white text-lg font-semibold hover:text-gray-300">Inicio</a>
                <span class="text-gray-400">/</span>
                <span class="text-white text-lg font-semibold">Admin</span>
            </div>
            <div class="flex items-center space-x-4 relative">
                <a href="/docs" class="text-white hover:text-gray-300">Documentación</a>
                <a href="/generar" class="text-white hover:text-gray-300">Generar API</a>
                <a href="/migraciones/admin_migraciones" class="text-white hover:text-gray-300">Migraciones</a>
                <div class="relative">
                    <button id="perfil" class="flex items-center focus:outline-none">
                        <div class="w-8 h-8 bg-gray-500 rounded-full flex items-center justify-center text-white">
                            {{ user.nombre[0]|upper }}
                        </div>
                        <svg class="ml-2 w-4 h-4 text-white" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.586l3.71-4.354a.75.75 0 011.14.976l-4.25 5A.75.75 0 0110 13a.75.75 0 01-.6-.3l-4.25-5a.75.75 0 01.08-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div id="menu-perfil" class="hidden absolute right-0 mt-2 w-48 bg-gray-800 rounded-md shadow-lg z-50">
                        <a href="/admin/perfil" class="block px-4 py-2 text-sm text-white hover:bg-gray-700">Perfil de usuario</a>
                        <form action="/logout" method="post">
                            <button type="submit" class="w-full text-left px-4 py-2 text-sm text-white hover:bg-gray-700">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div id="content" class="container mx-auto p-8">
        <!-- Bienvenida -->
        <div class="bg-white p-6 rounded-lg shadow-md mb-6">
            <h2 class="text-2xl font-bold mb-4">Bienvenido, {{ user.nombre }}</h2>
            <p class="text-gray-700">Aquí puedes gestionar las aplicaciones, ver estadísticas y realizar otras tareas administrativas.</p>
        </div>

        <!-- Estadísticas -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-bold mb-2">Usuarios</h3>
                <p class="text-gray-700">Total: {{ user_count }}</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-bold mb-2">Migraciones</h3>
                <p class="text-gray-700">Total: {{activity_count}}</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-bold mb-2">Aplicaciones</h3>
                <p class="text-gray-700">Total: 4</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-bold mb-2">Rutas</h3>
                <p class="text-gray-700">Total: 4</p>
            </div>
        </div>

        <!-- Accesos rápidos -->
        <div class="bg-white p-6 rounded-lg shadow-md mb-6">
            <h3 class="text-xl font-bold mb-4">Accesos rápidos</h3>
            <div class="flex space-x-4">
                <a href="/generar" class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300">Generar App</a>
                <a href="/migraciones/admin_migraciones" class="bg-purple-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-purple-600 transition duration-300">Migraciones</a>
                <a href="/analisis/admin" class="bg-green-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-gree-600 transition duration-300">Hacer un analisis de datos</a>
                <a href="/create_blog" class="bg-pink-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-pink-600 transition duration-300">Crear Nueva Noticia</a>
                <a href="/admin/usuarios" class="bg-yellow-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-yellow-600 transition duration-300">Gestionar Usuarios</a>

            </div>
        </div>

        <!-- Últimas actividades y gráfico -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <!-- Últimas actividades -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-bold mb-4">Últimas actividades</h3>
                <ul class="list-disc list-inside text-gray-700">
                    {% for activity in activities %}
                        <li>{{ activity.usuario.nombre }} {{ activity.action }}</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Gráfico de actividades -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-xl font-bold mb-4">Gráfico de Actividades</h3>
                <canvas id="activityChart"></canvas>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
<script>

            const perfilBtn = document.getElementById('perfil');
            const perfilMenu = document.getElementById('menu-perfil');
        
            perfilBtn.addEventListener('click', function(event) {
                event.preventDefault();
                perfilMenu.classList.toggle('hidden');
            });
        
            document.addEventListener('click', function(event) {
                const isClickInside = perfilBtn.contains(event.target) || perfilMenu.contains(event.target);
                if (!isClickInside) {
                    perfilMenu.classList.add('hidden');
                }
            });


    document.addEventListener('DOMContentLoaded', function() {
        // Datos del gráfico
        const chartData = JSON.parse('{{ chart_data | tojson | safe }}');

        // Configuración del gráfico
        const config = {
            type: 'line', // Cambiar 'scatter' por 'line'
            data: {
                labels: chartData.labels, // Asegúrate de incluir las etiquetas
                datasets: chartData.datasets
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'YYYY-MM-DD'
                        },
                        title: {
                            display: true,
                            text: 'Fecha'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Cantidad de Actividades'
                        },
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        };

        // Crear el gráfico
        const ctx = document.getElementById('activityChart').getContext('2d');
        new Chart(ctx, config);
    });
</script>

</body>
</html>