<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Archivo XLS/XLSX</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border-left-color: #4f46e5;
            animation: spin 1s ease infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <script>
        function openResultWindow(url) {
            window.open(url, '_blank');
        }

        function toggleDescription() {
            const description = document.getElementById('description');
            const toggleButton = document.getElementById('toggleButton');
            if (description.classList.contains('hidden')) {
                description.classList.remove('hidden');
                toggleButton.textContent = 'Minimizar';
            } else {
                description.classList.add('hidden');
                toggleButton.textContent = 'Leer más ...';
            }
        }

        function showAlert() {
            const alertBox = document.getElementById('alertBox');
            alertBox.classList.remove('hidden');
        }

        function handleFormSubmit(event) {
            event.preventDefault();
            showAlert();
            document.getElementById('spinner').classList.remove('hidden');

            // Simular un pequeño retraso antes de abrir la nueva ventana
            setTimeout(() => {
                event.target.submit();
            }, 1000);
        }
    </script>
</head>
<body class="bg-gray-100 min-h-screen">
    <!-- Barra de navegación -->
    <nav class="bg-gray-800 p-4 z-30 relative">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <a href="">
                    <img src="../static/img/logo_mapache.gif" alt="Logo" class="h-8 w-auto">
                </a>
                <a href="/index" class="text-white text-lg font-semibold hover:text-gray-300">Inicio</a>
                <span class="text-gray-400">/</span>
                <a href="/admin/page" class="text-white text-lg font-semibold hover:text-gray-300">Admin</a>
                <span class="text-gray-400">/</span>
                <a href="/migraciones/admin_migraciones" class="text-white text-lg font-semibold hover:text-gray-300">Migraciones</a>
                <span class="text-gray-400">/</span>
                <span class="text-gray-300">Nueva Migracion</span>
            </div>
            <div class="flex items-center space-x-4">
                <a href="/user/page" class="text-white hover:text-gray-300">
                    <div class="w-8 h-8 bg-gray-500 rounded-full flex items-center justify-center">
                        {{ user.nombre[0]|upper }}
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <!-- Descripción de la app -->
    <div class="flex justify-center p-4">
        <div class="bg-blue-50 p-6 rounded-lg shadow-md max-w-lg">
            <h2 class="text-xl font-bold text-blue-600 mb-4">Optimiza tus procesos de migración de datos</h2>
            <div id="description" class="hidden">
                <p class="text-gray-700">
                    En esta página, puedes cargar y migrar datos desde archivos Excel en formatos 
                    <strong>XLS</strong> y <strong>XLSX</strong>. Nuestra aplicación valida el contenido de los archivos 
                    antes de su importación para evitar errores comunes y asegurar la integridad de los datos.
                </p>
                <p class="text-gray-700 mt-2">
                    Para comenzar, selecciona el archivo Excel que deseas migrar y haz clic en el botón de carga. 
                    El proceso de migración se ejecutará en segundo plano, permitiéndote continuar con otras tareas 
                    mientras se completa la operación.
                </p>
                         <p class="text-gray-700 mt-2">
                    Una vez finalizada la migración, podrás consultar los resultados directamente en esta 
                    <a href="/migraciones/control_migraciones" class="text-blue-600 hover:underline">página</a>.
                    Si se detectan errores durante la migración, se te notificará para que puedas corregirlos y 
                    volver a intentar la carga.
                </p>
                <p class="text-gray-700 mt-2">
                    Utiliza esta herramienta para mejorar la precisión de tus datos y optimizar tu productividad 
                    en la gestión de información.
                </p>
            </div>
            <button id="toggleButton" class="mt-4 text-blue-600 hover:underline" onclick="toggleDescription()">Leer más ...</button>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="flex items-center justify-center p-8">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-2xl font-bold mb-6 text-center">Cargar Archivo XLS/XLSX</h1>
            <p class="text-gray-700 mb-4 text-center">Utiliza esta sección para cargar archivos Excel (XLS o XLSX) y realizar migraciones de datos de manera eficiente.</p>

            {% if message %}
                <p class="text-green-600 text-center mb-4">{{ message }}</p>
                <script>
                    openResultWindow("{{ result_url }}");
                </script>
            {% endif %}
            {% if error %}
                <p class="text-red-600 text-center mb-4">{{ error }}</p>
            {% endif %}

            <form id="uploadForm" action="/migraciones/upload" method="post" enctype="multipart/form-data" class="space-y-4" onsubmit="handleFormSubmit(event)">
                <div>
                    <label for="fileInput" class="block text-sm font-medium text-gray-700">Selecciona un archivo XLS o XLSX</label>
                    <input type="file" id="fileInput" name="file" accept=".xls,.xlsx" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <div>
                    <label for="migrationName" class="block text-sm font-medium text-gray-700">Nombre de la Migración</label>
                    <input type="text" id="migrationName" name="migration_name" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cargar</button>
            </form>

            <!-- Alerta de carga y spinner de carga -->
            <div id="alertBox" class="hidden mt-4 bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
                <p class="font-bold">Arichivo Subido con exito </p>
                <p>El archivo se subio y se está procesando en segundo plano.</p>
            </div>
            <div id="spinner" class="hidden flex justify-center mt-4">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script>
        document.getElementById('uploadForm').addEventListener('submit', function() {
            document.getElementById('spinner').classList.remove('hidden');
        });
    </script>
</body>
</html>